[global]
concurrency_level = 1
verbose = false
cpp = false
#local_cocci_dir = /home/eric/git/coccigrep/experimental
#spatch = /usr/local/sbin/spatch

[output]
color = false
vim = false
emacs = false
grep = false
format = term
after = 0
before = 0
